<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="infoFormulario(formtemplate)" #formtemplate="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name = "nombre"
               [ngModel]="usuario.nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               required
               minlength="4"
               placeholder="Nombre"
               #nombre="ngModel">
               <small *ngIf="nombre.invalid && nombre.touched" class="text-danger form-text">Este campo es obligatorio</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [ngModel]="usuario.apellido"
               [class.is-invalid]="apellido.invalid && apellido.touched"
               required
               minlength="4"
               placeholder="Apellido"
               #apellido="ngModel">
               <small *ngIf="apellido.invalid && apellido.touched" class="text-danger form-text">Este campo es obligatorio</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             [ngModel]="usuario.email"
             [class.is-invalid]="email.invalid && email.touched"
             pattern="[a-z 0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             required
             minlength="4"
             placeholder="Correo electrónico"
             #email="ngModel">
             <small *ngIf="email.invalid && email.touched" class="text-danger form-text">Ingrese un correo válido</small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
