<br>
<br>
<br>
<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="Guardar()">
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input class="form-control" type="text" placeholder="Nombre" formControlName="name"
          [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">Debe completar este campo</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName"
          [class.is-invalid]="apellidoNoValido">
        <small *ngIf="apellidoNoValido" class="text-danger">Debe completar este campo</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email"
        [class.is-invalid]="correoNoValido">
      <small *ngIf="correoNoValido" class="text-danger">Debe completar este campo con un correo válido</small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">
      <div class="col">
        <input type="text" class="form-control" placeholder=" Distrito" formControlName="distrito" [class.is-invalid]="distritoNoValido">
        <small *ngIf="distritoNoValido" class="text-danger">Debe completar este campo</small>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="ciudadNoValido">
        <small *ngIf="ciudadNoValido" class="text-danger">Debe completar este campo</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Pasatiempo</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let item of pasatiempos.controls; let i=index">
            <td scope="row">{{ i + 1 }}</td>
            <td>
              <input type="text" class="form-control" [formControlName]=i>
            </td>
            <td>
              <button class="btn btn-danger" type="button" (click)="borrarPasatiempos(i)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-block mt-3 mb-5" (click)="agregarPasatiempos()"> + Agregar </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-primary btn-block"> Guardar </button>
    </div>
  </div>

</form>
<br>
<hr>
<pre>
  Estado del formulario: {{ formulario.valid }}
  <br>
  Status: {{ formulario.status }}
</pre>
<pre>
  Data del formulario <br>
  {{ formulario.value | json }}
</pre>
